
/* ===== 番茄Todo 全局主题变量 ===== */
$tomato-primary: #e54d42; // 番茄红
$tomato-success: #19be6b;
$tomato-warning: #f90;
$tomato-info: #909399;
$tomato-text-main: #303133;
$tomato-text-sub: #909399;
$tomato-bg-page: #f7f8fa;
$tomato-bg-card: #ffffff;
$tomato-radius: 16rpx;
